<div class="row p-2">
  <div class="col-12 mb-3">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group mr-2" role="group">
        <button type="button" class="btn btn-primary" (click)="refresh()">
          <i class="fas fa-sync"></i>
        </button>
      </div>
      &nbsp;
      <div class="btn-group mr-2" role="group">
        <button type="button" class="btn btn-success" (click)="add_new_porfolio_item()">
          <i class="fas fa-add"></i>
        </button>
      </div>
      &nbsp;
      <div class="input-group mr-2">
        <span class="input-group-text">
          <i class="fas fa-search"></i>
        </span>
        <input type="text" [(ngModel)]="filter" class="form-control" placeholder="Buscar..." (input)="filter_table()">
        <button type="button" class="btn btn-info" (click)="toExcel()">
          <i class="fas fa-download"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-12" style="overflow-x: auto;">
    <table class="table table-hover" style="min-width: 800px;">
      <thead>
        <tr>
          <th>Seleccionado</th>
          <th>Opciones</th>
          <th><small><strong>No.</strong></small></th>
          <th><small><strong>Año</strong></small></th>
          <th><small><strong>Mesa</strong></small></th>
          <th><small><strong>Título</strong></small></th>
          <th><small><strong>Descripción</strong></small></th>
          <th><small><strong>Prioridad</strong></small></th>
          <th><small><strong>Proyecto SAP</strong></small></th>
          <th><small><strong>Frente</strong></small></th>
          <th><small><strong>País</strong></small></th>
          <th><small><strong>Contacto Requirente</strong></small></th>
          <th><small><strong>Área</strong></small></th>
          <th><small><strong>Estado de Aprobación</strong></small></th>
          <th><small><strong>Progreso</strong></small></th>
          <th><small><strong>Prioridad Negocio</strong></small></th>
          <th><small><strong>Prioridad PO</strong></small></th>
          <th><small><strong>Dependencia</strong></small></th>
          <th><small><strong>Complejidad</strong></small></th>
          <th><small><strong>Factor País</strong></small></th>
          <th><small><strong>Semanas</strong></small></th>
          <th><small><strong>Personas</strong></small></th>
          <th><small><strong>Costo Operativo Semanal</strong></small></th>
          <th><small><strong>Otros Costos</strong></small></th>
          <th><small><strong>Costo Total</strong></small></th>
          <th><small><strong>Costos Recurrentes</strong></small></th>
          <th><small><strong>ROI</strong></small></th>
          <th><small><strong>Inicio Desarrollo</strong></small></th>
          <th><small><strong>Fin Desarrollo</strong></small></th>
          <th><small><strong>Inicio Piloto</strong></small></th>
          <th><small><strong>Fin Piloto</strong></small></th>
          <th><small><strong>Inicio Producción</strong></small></th>
          <th><small><strong>Fin Producción</strong></small></th>
          <th><small><strong>Notas</strong></small></th>
          <th><small><strong>ROI 2</strong></small></th>
          <th><small><strong>ROI 3</strong></small></th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="newPorfolioItem">
          <td></td>
          <th>
            <div class="btn-group mr-2" role="group">
              <button type="button" class="btn btn-secondary" (click)="save_porfolio_item()">
                <i class="fas fa-save"></i>
              </button>
            </div>
          </th>
          <td><input type="number" disabled [(ngModel)]="new_porfolio_item.id"/></td>
          <td><input type="number" [(ngModel)]="new_porfolio_item.year"/></td>
          <td>
            <select [(ngModel)]="new_porfolio_item.agileGroup">
              <option value="">Seleccione...</option>
              <option value="MAXPOINT LEGACY">MAXPOINT LEGACY</option>
              <option value="MAXPOINT NUEVO">MAXPOINT NUEVO</option>
              <option value="SIR">SIR</option>
              <option value="CANALES DIGITALES">CANALES DIGITALES</option>
              <option value="SISTEMAS INTERNOS">SISTEMAS INTERNOS</option>
              <option value="ERP">ERP</option>
              <option value="SAP">SAP</option>
              <option value="BI">BI</option>
              <option value="Devsecops">Devsecops</option>
            </select>
          </td>
          <td><input [(ngModel)]="new_porfolio_item.title"/></td>
          <td><input [(ngModel)]="new_porfolio_item.description"/></td>
          <td>
            <select [(ngModel)]="new_porfolio_item.priority">
              <option value="">Seleccione...</option>
              <option value="BAJA">BAJA</option>
              <option value="MADIA">MADIA</option>
              <option value="ALTA">ALTA</option>
            </select>
          </td>
          <td><input [(ngModel)]="new_porfolio_item.sapProject"/></td>
          <td>
            <select [(ngModel)]="new_porfolio_item.front">
              <option value="">Seleccione...</option>
              <option value="CAR">CAR</option>
              <option value="DSI">DSI</option>
              <option value="OPERACIONES">OPERACIONES</option>
              <option value="PLANTA">PLANTA</option>
              <option value="REGIONAL">REGIONAL</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="new_porfolio_item.country">
              <option value="">Seleccione...</option>
              <option value="Argentina">Argentina</option>
              <option value="Chile">Chile</option>
              <option value="Colombia">Colombia</option>
              <option value="Ecuador">Ecuador</option>
              <option value="España">España</option>
              <option value="Venezuela">Venezuela</option>
            </select>
          </td>
          <td><input [(ngModel)]="new_porfolio_item.contact"/></td>
          <td>
            <select [(ngModel)]="new_porfolio_item.area">
              <option value="">Seleccione...</option>
              <option value="AEROPUERTO GYE">AEROPUERTO GYE</option>
              <option value="AEROPUERTO UIO">AEROPUERTO UIO</option>
              <option value="AR">AR</option>
              <option value="AUDITORIA">AUDITORIA</option>
              <option value="BI">BI</option>
              <option value="BODEGA">BODEGA</option>
              <option value="CALIDAD">CALIDAD</option>
              <option value="CAPACITACIÓN INTERNA">CAPACITACIÓN INTERNA</option>
              <option value="CL">CL</option>
              <option value="CO">CO</option>
              <option value="COMPRAS">COMPRAS</option>
              <option value="CONTABILIDAD">CONTABILIDAD</option>
              <option value="CONTABILIDAD Y SAP">CONTABILIDAD Y SAP</option>
              <option value="DSI">DSI</option>
              <option value="ES">ES</option>
              <option value="GESTIÓN">GESTIÓN</option>
              <option value="IT">IT</option>
              <option value="LOGÍSTICA">LOGÍSTICA</option>
              <option value="MANTENIMIENTO">MANTENIMIENTO</option>
              <option value="MERCADEO KFC">MERCADEO KFC</option>
              <option value="MERCADEO OTRAS MARCAS">MERCADEO OTRAS MARCAS</option>
              <option value="NÓMINA">NÓMINA</option>
              <option value="OPERACIONES">OPERACIONES</option>
              <option value="OPERACIONES KFC">OPERACIONES KFC</option>
              <option value="OTROS NEGOCIOS">OTROS NEGOCIOS</option>
              <option value="PLANTAS">PLANTAS</option>
              <option value="PRODUCCIÓN">PRODUCCIÓN</option>
              <option value="PROYECTOS DE CONSTRUCCIÓN">PROYECTOS DE CONSTRUCCIÓN</option>
              <option value="TRANSFORMACIÓN DIGITAL">TRANSFORMACIÓN DIGITAL</option>
              <option value="TESORERÍA">TESORERÍA</option>
              <option value="VE">VE</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="new_porfolio_item.approval">
              <option value="">Seleccione...</option>
              <option value="APROBADO">APROBADO</option>
              <option value="IDENTIFICADO">IDENTIFICADO</option>
              <option value="SUSPENDIDO">SUSPENDIDO</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="new_porfolio_item.progress">
              <option value="">Seleccione...</option>
              <option value="Cancelado">Cancelado</option>
              <option value="En curso">En curso</option>
              <option value="Finalizado">Finalizado</option>
              <option value="Identificado">Identificado</option>
              <option value="Iniciado">Iniciado</option>
              <option value="No iniciado">No iniciado</option>
              <option value="Por Levantar">Por Levantar</option>
              <option value="Pruebas">Pruebas</option>
            </select>
          </td>
          <td><input type="text" [(ngModel)]="new_porfolio_item.customerPriority"/></td>
          <td>
            <select [(ngModel)]="new_porfolio_item.poPriority">
              <option value="">Seleccione...</option>
              <option value="Q1">Q1</option>
              <option value="Q2">Q2</option>
              <option value="Q3">Q3</option>
              <option value="Q4">Q4</option>
            </select>
          </td>
          <td><input [(ngModel)]="new_porfolio_item.dependency"/></td>
          <td>
            <select [(ngModel)]="new_porfolio_item.complexity">
              <option value="">Seleccione...</option>
              <option value="BAJA">BAJA</option>
              <option value="MADIA">MADIA</option>
              <option value="ALTA">ALTA</option>
            </select>
          </td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.countryFactor"/></td>
          <td><input type="number" [(ngModel)]="new_porfolio_item.weeks"/></td>
          <td><input type="number" [(ngModel)]="new_porfolio_item.people"/></td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.laborCostPerWeek"/></td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.otherCosts"/></td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.total"/></td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.recurrentCosts"/></td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.roi"/></td>
          <td><input type="date" [ngModel]="new_porfolio_item.developmentStart | date:'y-MM-dd'" (ngModelChange)="new_porfolio_item.developmentStart = $event"/></td>
          <td><input type="date" [ngModel]="new_porfolio_item.developmentEnd | date:'y-MM-dd'" (ngModelChange)="new_porfolio_item.developmentEnd = $event"/></td>
          <td><input type="date" [ngModel]="new_porfolio_item.pilotStart | date:'y-MM-dd'" (ngModelChange)="new_porfolio_item.pilotStart = $event"/></td>
          <td><input type="date" [ngModel]="new_porfolio_item.pilotEnd | date:'y-MM-dd'" (ngModelChange)="new_porfolio_item.pilotEnd = $event"/></td>
          <td><input type="date" [ngModel]="new_porfolio_item.deploymentStart | date:'y-MM-dd'" (ngModelChange)="new_porfolio_item.deploymentStart = $event"/></td>
          <td><input type="date" [ngModel]="new_porfolio_item.deploymentEnd | date:'y-MM-dd'" (ngModelChange)="new_porfolio_item.deploymentEnd = $event"/></td>
          <td><input [(ngModel)]="new_porfolio_item.notes"/></td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.roi2"/></td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.roi3"/></td>
        </tr>
        <tr *ngFor="let row of rows" (click)="select_row(row)">
          <td><small><span *ngIf="row_selected == row" class="far fa-hand-point-right"></span></small></td>
          <th>
            <div class="btn-group mr-2" role="group">
              <button type="button" *ngIf="row_selected == row" class="btn btn-success" (click)="open_modal(content_costs)">
                <i class="fas fa-dollar-sign"></i>
              </button>
              <button type="button" *ngIf="row_selected == row" [hidden]="edit && row_selected == row" class="btn btn-warning" (click)="edit = true">
                <i class="fas fa-edit"></i>
              </button>
              <button type="button" *ngIf="edit && row_selected == row" class="btn btn-secondary" (click)="update_porfolio_item()">
                <i class="fas fa-save"></i>
              </button>
              &nbsp;
              <button type="button" *ngIf="row_selected == row" class="btn btn-danger" (click)="delete_porfolio_item()">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </th>
          <td><input *ngIf="edit && row_selected == row" type="number" [(ngModel)]="row.id"/> <small [hidden]="edit && row_selected == row">{{row.id}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" [(ngModel)]="row.year"/> <small [hidden]="edit && row_selected == row">{{row.year}}</small></td>
          <td>
            <select *ngIf="edit && row_selected == row" [(ngModel)]="row.agileGroup">
              <option value="">Seleccione...</option>
              <option value="MAXPOINT LEGACY">MAXPOINT LEGACY</option>
              <option value="MAXPOINT NUEVO">MAXPOINT NUEVO</option>
              <option value="SIR">SIR</option>
              <option value="CANALES DIGITALES">CANALES DIGITALES</option>
              <option value="SISTEMAS INTERNOS">SISTEMAS INTERNOS</option>
              <option value="ERP">ERP</option>
              <option value="SAP">SAP</option>
              <option value="BI">BI</option>
              <option value="Devsecops">Devsecops</option>
            </select> <small [hidden]="edit && row_selected == row">{{row.agileGroup}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.title"/> <small [hidden]="edit && row_selected == row">{{row.title}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.description"/> <small [hidden]="edit && row_selected == row">{{row.description}}</small></td>
          <td>
            <select *ngIf="edit && row_selected == row" [(ngModel)]="row.priority">
              <option value="">Seleccione...</option>
              <option value="BAJA">BAJA</option>
              <option value="MADIA">MADIA</option>
              <option value="ALTA">ALTA</option>
            </select> <small [hidden]="edit && row_selected == row">{{row.priority}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.sapProject"/> <small [hidden]="edit && row_selected == row">{{row.sapProject}}</small></td>
          <td>
            <select *ngIf="edit && row_selected == row" [(ngModel)]="row.front">
              <option value="">Seleccione...</option>
              <option value="CAR">CAR</option>
              <option value="DSI">DSI</option>
              <option value="OPERACIONES">OPERACIONES</option>
              <option value="PLANTA">PLANTA</option>
              <option value="REGIONAL">REGIONAL</option>
            </select> <small [hidden]="edit && row_selected == row">{{row.front}}</small></td>
          <td>
            <select *ngIf="edit && row_selected == row" [(ngModel)]="row.country">
              <option value="">Seleccione...</option>
              <option value="Argentina">Argentina</option>
              <option value="Chile">Chile</option>
              <option value="Colombia">Colombia</option>
              <option value="Ecuador">Ecuador</option>
              <option value="España">España</option>
              <option value="Venezuela">Venezuela</option>
            </select> <small [hidden]="edit && row_selected == row">{{row.country}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.contact"/> <small [hidden]="edit && row_selected == row">{{row.contact}}</small></td>
          <td>
            <select *ngIf="edit && row_selected == row" [(ngModel)]="row.area">
              <option value="">Seleccione...</option>
              <option value="AEROPUERTO GYE">AEROPUERTO GYE</option>
              <option value="AEROPUERTO UIO">AEROPUERTO UIO</option>
              <option value="AR">AR</option>
              <option value="AUDITORIA">AUDITORIA</option>
              <option value="BI">BI</option>
              <option value="BODEGA">BODEGA</option>
              <option value="CALIDAD">CALIDAD</option>
              <option value="CAPACITACIÓN INTERNA">CAPACITACIÓN INTERNA</option>
              <option value="CL">CL</option>
              <option value="CO">CO</option>
              <option value="COMPRAS">COMPRAS</option>
              <option value="CONTABILIDAD">CONTABILIDAD</option>
              <option value="CONTABILIDAD Y SAP">CONTABILIDAD Y SAP</option>
              <option value="DSI">DSI</option>
              <option value="ES">ES</option>
              <option value="GESTIÓN">GESTIÓN</option>
              <option value="IT">IT</option>
              <option value="LOGÍSTICA">LOGÍSTICA</option>
              <option value="MANTENIMIENTO">MANTENIMIENTO</option>
              <option value="MERCADEO KFC">MERCADEO KFC</option>
              <option value="MERCADEO OTRAS MARCAS">MERCADEO OTRAS MARCAS</option>
              <option value="NÓMINA">NÓMINA</option>
              <option value="OPERACIONES">OPERACIONES</option>
              <option value="OPERACIONES KFC">OPERACIONES KFC</option>
              <option value="OTROS NEGOCIOS">OTROS NEGOCIOS</option>
              <option value="PLANTAS">PLANTAS</option>
              <option value="PRODUCCIÓN">PRODUCCIÓN</option>
              <option value="PROYECTOS DE CONSTRUCCIÓN">PROYECTOS DE CONSTRUCCIÓN</option>
              <option value="TRANSFORMACIÓN DIGITAL">TRANSFORMACIÓN DIGITAL</option>
              <option value="TESORERÍA">TESORERÍA</option>
              <option value="VE">VE</option>
            </select> <small [hidden]="edit && row_selected == row">{{row.area}}</small></td>
          <td>
            <select *ngIf="edit && row_selected == row" [(ngModel)]="row.approval">
              <option value="">Seleccione...</option>
              <option value="APROBADO">APROBADO</option>
              <option value="IDENTIFICADO">IDENTIFICADO</option>
              <option value="SUSPENDIDO">SUSPENDIDO</option>
            </select> <small [hidden]="edit && row_selected == row">{{row.approval}}</small></td>
          <td>
            <select *ngIf="edit && row_selected == row" [(ngModel)]="row.progress">
              <option value="">Seleccione...</option>
              <option value="Cancelado">Cancelado</option>
              <option value="En curso">En curso</option>
              <option value="Finalizado">Finalizado</option>
              <option value="Identificado">Identificado</option>
              <option value="Iniciado">Iniciado</option>
              <option value="No iniciado">No iniciado</option>
              <option value="Por Levantar">Por Levantar</option>
              <option value="Pruebas">Pruebas</option>
            </select> <small [hidden]="edit && row_selected == row">{{row.progress}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.customerPriority"/> <small [hidden]="edit && row_selected == row">{{row.customerPriority}}</small></td>
          <td>
            <select *ngIf="edit && row_selected == row" [(ngModel)]="row.poPriority">
              <option value="">Seleccione...</option>
              <option value="Q1">Q1</option>
              <option value="Q2">Q2</option>
              <option value="Q3">Q3</option>
              <option value="Q4">Q4</option>
            </select> <small [hidden]="edit && row_selected == row">{{row.poPriority}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.dependency"/> <small [hidden]="edit && row_selected == row">{{row.dependency}}</small></td>
          <td>
            <select *ngIf="edit && row_selected == row" [(ngModel)]="row.complexity">
              <option value="">Seleccione...</option>
              <option value="BAJA">BAJA</option>
              <option value="MADIA">MADIA</option>
              <option value="ALTA">ALTA</option>
            </select> <small [hidden]="edit && row_selected == row">{{row.complexity}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.countryFactor"/> <small [hidden]="edit && row_selected == row">{{row.countryFactor}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" [(ngModel)]="row.weeks"/> <small [hidden]="edit && row_selected == row">{{row.weeks}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" [(ngModel)]="row.people"/> <small [hidden]="edit && row_selected == row">{{row.people}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.laborCostPerWeek"/> <small [hidden]="edit && row_selected == row">${{row.laborCostPerWeek | number:'1.2-2'}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.otherCosts"/> <small [hidden]="edit && row_selected == row">${{row.otherCosts | number:'1.2-2'}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.total"/> <small [hidden]="edit && row_selected == row">${{row.total | number:'1.2-2'}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.recurrentCosts"/> <small [hidden]="edit && row_selected == row">${{row.recurrentCosts | number:'1.2-2'}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.roi"/> <small [hidden]="edit && row_selected == row">{{row.roi | number:'1.2-2'}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="date" [(ngModel)]="row.developmentStart"/> <small [hidden]="edit && row_selected == row">{{row.developmentStart | date: 'y-MM-dd'}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="date" [(ngModel)]="row.developmentEnd"/> <small [hidden]="edit && row_selected == row">{{row.developmentEnd | date: 'y-MM-dd'}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="date" [(ngModel)]="row.pilotStart"/> <small [hidden]="edit && row_selected == row">{{row.pilotStart | date: 'y-MM-dd'}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="date" [(ngModel)]="row.pilotEnd"/> <small [hidden]="edit && row_selected == row">{{row.pilotEnd | date: 'y-MM-dd'}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="date" [(ngModel)]="row.deploymentStart"/> <small [hidden]="edit && row_selected == row">{{row.deploymentStart | date: 'y-MM-dd'}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="date" [(ngModel)]="row.deploymentEnd"/> <small [hidden]="edit && row_selected == row">{{row.deploymentEnd | date: 'y-MM-dd'}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.notes"/> <small [hidden]="edit && row_selected == row">{{row.notes}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.roi2"/> <small [hidden]="edit && row_selected == row">{{row.roi2 | number:'1.2-2'}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.roi3"/> <small [hidden]="edit && row_selected == row">{{row.roi3 | number:'1.2-2'}}</small></td>
          <th>
            <div class="btn-group mr-2" role="group">
              <button type="button" *ngIf="row_selected == row" class="btn btn-success" (click)="open_modal(content_costs)">
                <i class="fas fa-dollar-sign"></i>
              </button>
              <button type="button" *ngIf="row_selected == row" [hidden]="edit && row_selected == row" class="btn btn-warning" (click)="edit = true">
                <i class="fas fa-edit"></i>
              </button>
              <button type="button" *ngIf="edit && row_selected == row" class="btn btn-secondary" (click)="update_porfolio_item()">
                <i class="fas fa-save"></i>
              </button>
              &nbsp;
              <button type="button" *ngIf="row_selected == row" class="btn btn-danger" (click)="delete_porfolio_item()">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content_costs let-modal>
  <div class="modal-header">
     <h4 class="modal-title">Costos asociados al item {{row_selected.id}} del Portafolio</h4>
     <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
     </button>
  </div>
  <div class="modal-body">
     <app-porfoliocosts [porfolioItemid]="row_selected.id"></app-porfoliocosts>
  </div>
</ng-template>
