<div class="row p-2">
  <div class="col-12 mb-3">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group mr-2" role="group">
        <button type="button" class="btn btn-primary" (click)="refresh()">
          <i class="fas fa-sync"></i>
        </button>
      </div>
      &nbsp;
      <div class="btn-group mr-2" role="group">
        <button type="button" class="btn btn-success" (click)="add_new_porfolio_item()">
          <i class="fas fa-add"></i>
        </button>
      </div>
      &nbsp;
      <div class="input-group mr-2">
        <span class="input-group-text">
          <i class="fas fa-search"></i>
        </span>
        <input type="text" [(ngModel)]="filter" class="form-control" placeholder="Buscar..." (input)="filter_table()">
        <button type="button" class="btn btn-info" (click)="toExcel()">
          <i class="fas fa-download"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-12" style="overflow-x: auto;">
    <table class="table table-hover" style="min-width: 800px;">
      <thead>
        <tr>
          <th>Seleccionado</th>
          <th>Opciones</th>
          <th><small><strong>No.</strong></small></th>
          <th><small><strong>Año</strong></small></th>
          <th><small><strong>Mesa</strong></small></th>
          <th><small><strong>Título</strong></small></th>
          <th><small><strong>Descripción</strong></small></th>
          <th><small><strong>Prioridad</strong></small></th>
          <th><small><strong>Proyecto SAP</strong></small></th>
          <th><small><strong>Frente</strong></small></th>
          <th><small><strong>País</strong></small></th>
          <th><small><strong>Contacto Requirente</strong></small></th>
          <th><small><strong>Área</strong></small></th>
          <th><small><strong>Estado de Aprobación</strong></small></th>
          <th><small><strong>Progreso</strong></small></th>
          <th><small><strong>Prioridad Negocio</strong></small></th>
          <th><small><strong>Prioridad PO</strong></small></th>
          <th><small><strong>Dependencia</strong></small></th>
          <th><small><strong>Complejidad</strong></small></th>
          <th><small><strong>Factor País</strong></small></th>
          <th><small><strong>Semanas</strong></small></th>
          <th><small><strong>Personas</strong></small></th>
          <th><small><strong>Costo Operativo Semanal</strong></small></th>
          <th><small><strong>Otros Costos</strong></small></th>
          <th><small><strong>Costo Total</strong></small></th>
          <th><small><strong>Costos Recurrentes</strong></small></th>
          <th><small><strong>ROI</strong></small></th>
          <th><small><strong>Inicio Desarrollo</strong></small></th>
          <th><small><strong>Fin Desarrollo</strong></small></th>
          <th><small><strong>Inicio Piloto</strong></small></th>
          <th><small><strong>Fin Piloto</strong></small></th>
          <th><small><strong>Inicio Producción</strong></small></th>
          <th><small><strong>Fin Producción</strong></small></th>
          <th><small><strong>Notas</strong></small></th>
          <th><small><strong>ROI 2</strong></small></th>
          <th><small><strong>ROI 3</strong></small></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="newPorfolioItem">
          <td></td>
          <th>
            <div class="btn-group mr-2" role="group">
              <button type="button" class="btn btn-secondary" (click)="save_porfolio_item()">
                <i class="fas fa-save"></i>
              </button>
            </div>
          </th>
          <td><input type="number" disabled [(ngModel)]="new_porfolio_item.Id"/></td>
          <td><input type="number" [(ngModel)]="new_porfolio_item.Year"/></td>
          <td><input [(ngModel)]="new_porfolio_item.AgileGroup"/></td>
          <td><input [(ngModel)]="new_porfolio_item.Title"/></td>
          <td><input [(ngModel)]="new_porfolio_item.Description"/></td>
          <td><input [(ngModel)]="new_porfolio_item.Priority"/></td>
          <td><input [(ngModel)]="new_porfolio_item.SapProject"/></td>
          <td><input [(ngModel)]="new_porfolio_item.Front"/></td>
          <td><input [(ngModel)]="new_porfolio_item.Country"/></td>
          <td><input [(ngModel)]="new_porfolio_item.Contact"/></td>
          <td><input [(ngModel)]="new_porfolio_item.Area"/></td>
          <td><input [(ngModel)]="new_porfolio_item.Approval"/></td>
          <td><input type="number" [(ngModel)]="new_porfolio_item.Progress"/></td>
          <td><input type="number" [(ngModel)]="new_porfolio_item.CustomerPriority"/></td>
          <td><input type="number" [(ngModel)]="new_porfolio_item.PoPriority"/></td>
          <td><input [(ngModel)]="new_porfolio_item.Dependency"/></td>
          <td><input type="number" [(ngModel)]="new_porfolio_item.Complexity"/></td>
          <td><input type="number" [(ngModel)]="new_porfolio_item.CountryFactor"/></td>
          <td><input type="number" [(ngModel)]="new_porfolio_item.Weeks"/></td>
          <td><input type="number" [(ngModel)]="new_porfolio_item.People"/></td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.LaborCostPerWeek"/></td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.OtherCosts"/></td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.Total"/></td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.RecurrentCosts"/></td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.Roi"/></td>
          <td><input type="date" [ngModel]="new_porfolio_item.DevelopmentStart | date:'y-MM-dd'" (ngModelChange)="new_porfolio_item.DevelopmentStart = $event"/></td>
          <td><input type="date" [ngModel]="new_porfolio_item.DevelopmentEnd | date:'y-MM-dd'" (ngModelChange)="new_porfolio_item.DevelopmentEnd = $event"/></td>
          <td><input type="date" [ngModel]="new_porfolio_item.PilotStart | date:'y-MM-dd'" (ngModelChange)="new_porfolio_item.PilotStart = $event"/></td>
          <td><input type="date" [ngModel]="new_porfolio_item.PilotEnd | date:'y-MM-dd'" (ngModelChange)="new_porfolio_item.PilotEnd = $event"/></td>
          <td><input type="date" [ngModel]="new_porfolio_item.DeploymentStart | date:'y-MM-dd'" (ngModelChange)="new_porfolio_item.DeploymentStart = $event"/></td>
          <td><input type="date" [ngModel]="new_porfolio_item.DeploymentEnd | date:'y-MM-dd'" (ngModelChange)="new_porfolio_item.DeploymentEnd = $event"/></td>
          <td><input [(ngModel)]="new_porfolio_item.Notes"/></td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.Roi2"/></td>
          <td><input type="number" step="0.1" [(ngModel)]="new_porfolio_item.Roi3"/></td>
        </tr>
        <tr *ngFor="let row of rows" (click)="row_selected = row">
          <td><small><span *ngIf="row_selected == row" class="far fa-hand-point-right"></span></small></td>
          <th>
            <div class="btn-group mr-2" role="group">
              <button type="button" class="btn btn-success" (click)="open_modal(content_costs)">
                <i class="fas fa-dollar-sign"></i>
              </button>
              <button type="button" class="btn btn-warning" (click)="edit = true">
                <i class="fas fa-edit"></i>
              </button>
              <button type="button" class="btn btn-secondary" (click)="update_porfolio_item()">
                <i class="fas fa-save"></i>
              </button>
              &nbsp;
              <button type="button" class="btn btn-danger" (click)="delete_porfolio_item()">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </th>
          <td><input *ngIf="edit && row_selected == row" type="number" [(ngModel)]="row.Id"/> <small *ngIf="!edit && row_selected == row">{{row.Id}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" [(ngModel)]="row.Year"/> <small *ngIf="!edit && row_selected == row">{{row.Year}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.AgileGroup"/> <small *ngIf="!edit && row_selected == row">{{row.AgileGroup}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.Title"/> <small *ngIf="!edit && row_selected == row">{{row.Title}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.Description"/> <small *ngIf="!edit && row_selected == row">{{row.Description}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.Priority"/> <small *ngIf="!edit && row_selected == row">{{row.Priority}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.SapProject"/> <small *ngIf="!edit && row_selected == row">{{row.SapProject}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.Front"/> <small *ngIf="!edit && row_selected == row">{{row.Front}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.Country"/> <small *ngIf="!edit && row_selected == row">{{row.Country}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.Contact"/> <small *ngIf="!edit && row_selected == row">{{row.Contact}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.Area"/> <small *ngIf="!edit && row_selected == row">{{row.Area}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.Approval"/> <small *ngIf="!edit && row_selected == row">{{row.Approval}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" [(ngModel)]="row.Progress"/> <small *ngIf="!edit && row_selected == row">{{row.Progress}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" [(ngModel)]="row.CustomerPriority"/> <small *ngIf="!edit && row_selected == row">{{row.CustomerPriority}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" [(ngModel)]="row.PoPriority"/> <small *ngIf="!edit && row_selected == row">{{row.PoPriority}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.Dependency"/> <small *ngIf="!edit && row_selected == row">{{row.Dependency}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" [(ngModel)]="row.Complexity"/> <small *ngIf="!edit && row_selected == row">{{row.Complexity}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" [(ngModel)]="row.CountryFactor"/> <small *ngIf="!edit && row_selected == row">{{row.CountryFactor}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" [(ngModel)]="row.Weeks"/> <small *ngIf="!edit && row_selected == row">{{row.Weeks}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" [(ngModel)]="row.People"/> <small *ngIf="!edit && row_selected == row">{{row.People}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.LaborCostPerWeek"/> <small *ngIf="!edit && row_selected == row">{{row.LaborCostPerWeek}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.OtherCosts"/> <small *ngIf="!edit && row_selected == row">{{row.OtherCosts}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.Total"/> <small *ngIf="!edit && row_selected == row">{{row.Total}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.RecurrentCosts"/> <small *ngIf="!edit && row_selected == row">{{row.RecurrentCosts}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.Roi"/> <small *ngIf="!edit && row_selected == row">{{row.Roi}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="date" [(ngModel)]="row.DevelopmentStart"/> <small *ngIf="!edit && row_selected == row">{{row.DevelopmentStart}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="date" [(ngModel)]="row.DevelopmentEnd"/> <small *ngIf="!edit && row_selected == row">{{row.DevelopmentEnd}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="date" [(ngModel)]="row.PilotStart"/> <small *ngIf="!edit && row_selected == row">{{row.PilotStart}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="date" [(ngModel)]="row.PilotEnd"/> <small *ngIf="!edit && row_selected == row">{{row.PilotEnd}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="date" [(ngModel)]="row.DeploymentStart"/> <small *ngIf="!edit && row_selected == row">{{row.DeploymentStart}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="date" [(ngModel)]="row.DeploymentEnd"/> <small *ngIf="!edit && row_selected == row">{{row.DeploymentEnd}}</small></td>
          <td><input *ngIf="edit && row_selected == row" [(ngModel)]="row.Notes"/> <small *ngIf="!edit && row_selected == row">{{row.Notes}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.Roi2"/> <small *ngIf="!edit && row_selected == row">{{row.Roi2}}</small></td>
          <td><input *ngIf="edit && row_selected == row" type="number" step="0.1" [(ngModel)]="row.Roi3"/> <small *ngIf="!edit && row_selected == row">{{row.Roi3}}</small></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content_costs let-modal>
  <div class="modal-header">
     <h4 class="modal-title">Costos asociados al item {{row_selected.Id}} del Portafolio</h4>
     <button type="button" class="close" (click)="modal.dismiss('Cross click')">
        <span>&times;</span>
     </button>
  </div>
  <div class="modal-body">
     <app-porfoliocosts></app-porfoliocosts>
  </div>
</ng-template>
