<ngx-spinner type="ball-scale-multiple">
  <p style="color: rgb(255, 255, 255)" > Procesando información, por favor espere... </p>
</ngx-spinner>
<div class="wallpaper" style="background-image: url('assets/background.png');">
  <div class="row mt-2">
    <h1 class="col-12 text-light" style="text-align: right;">
       Administración de Portafolio - DSI
    </h1>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-12">
        <app-porfolio></app-porfolio>
      </div>
    </div>
  </div>
</div>
