<div class="row">
  <div class="col-4">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="text" class="form-control" id="id" [(ngModel)]="porfolioCost.Id" name="id">
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="porfolioItemId">ID del Porfolio:</label>
      <input type="text" class="form-control" id="porfolioItemId" [(ngModel)]="porfolioCost.PorfolioItemId" name="porfolioItemId">
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="code">Código:</label>
      <input type="text" class="form-control" id="code" [(ngModel)]="porfolioCost.Code" name="code">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="title">Título:</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="porfolioCost.Title" name="title">
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label for="description">Descripción:</label>
      <textarea class="form-control" id="description" [(ngModel)]="porfolioCost.Description" name="description"></textarea>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="form-group">
      <label for="subTotal">Subtotal:</label>
      <input type="text" class="form-control" id="subTotal" [(ngModel)]="porfolioCost.SubTotal" name="subTotal">
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="taxes">Impuestos:</label>
      <input type="text" class="form-control" id="taxes" [(ngModel)]="porfolioCost.Taxes" name="taxes">
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="total">Total:</label>
      <input type="text" class="form-control" id="total" [(ngModel)]="porfolioCost.Total" name="total">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="date">Fecha:</label>
      <input type="date" class="form-control" id="date" [(ngModel)]="porfolioCost.Date" name="date">
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</div>
